.row#chat-container.chatwindow
  .col-md-12#chat-box
    ul#messages.list-unstyled
.row
  .col-md-12
    form#chat-form.form-inline(method='post')
        .col-md-9
            input#chat-input.submit_on_enter.form-control(type='text', name='chat-text', autocomplete='off')
        .col-md-3
            button#send-button.btn.btn-primary.form-control(type='button', onclick='sendMessage()', value='Send' ) Send