extends layout

block content
  h1= title
  p Welcome to #{title}

  .container-fluid
    .col
      .col-sm-9(style='background-color:lavender; border:1px #000 solid;') Game
      .col-sm-3(style='background-color:lavenderblush; border:1px #000 solid;') Chat