doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')

  body
  
    block content
    //- block foot
    //-   nav.navbar.navbar-default.navbar-fixed-bottom
    //-     .container
    //-       .navbar-header
    //-         a(href='/termsConditions') Terms and Conditions
    //-       .navbar-collapse
    //-         ul.navbar-right
    //-           a(href='/help') Help
    //-         ul.navbar-left
              a(href='/about') About Us
    block head
      nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                h2 Scrabble
            .navbar-collapse
                ul.navbar-right
                  .ui.stacked.segment
                    .field
                      .ui.input
                          a(href='/lobby') Lobby
                          a(href='#') My Account
                          a(href='/logout') Logout
                          a(style="color: black", hover="color: initial") Hello #{user_name}
                          input#user(type="hidden", name="user_name" ,value=user_name) 
                          input#userId(type="hidden", name="user_id" ,value=user_id) 