extends layout

block content
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/chat.js")
  script(type="text/javascript", src="/javascripts/lobby.js")

  h1.header_lobby LOBBY           
  .container-fluid
      
      .col-sm-3.create-game
        form.well(method='POST' action='')
            h4 CREATE NEW GAME 
            .column
                | No. of Players
                |&nbsp;
                select(name="playervalue")
                  option(value=2) 2
                  option(value=3) 3
                  option(value=4) 4
            .column
              button.btn.btn-primary(type='submit') Create Game
              
      .col-sm-5.well(style="height:480px; overflow:scroll;")
        form(method='POST' action='/joinGame')
            table.table.table-striped.ongoing-games
              thead.thead-dark
                 tr
                  th.rack.head(colspan='4') Game List
                  tr
                   each val in ['Created By','Required Players Per Game','Join']
                    td.next.value= val 
              tbody
                each row in games
                  tr
                    td.game_row.value= row.creator
                    td.game_row.value=row.num_players
                    //- td.game_row.value=(row.status == 1 ? 'Game Already Started' : "Waiting For Players")
                    td
                      a(href='/joinGame/'+row.id style="float:center;") JOIN
      .col-sm-4.well(style="height:480px;")
          //- table
          //-   thead
          //-     tr
          //-       th.rack.head(colspan='3') Leadership Board
          //-   tbody
          //-     tr
          //-       each val in ['Name','Win%','Score']
          //-         td.next.value= val
          h1.header_lobby CHAT
          include chat.pug