extends layout1

block content
  
    
                            
    .container-fluid.scrollable
        .right-section
            form(method='POST' action='')
                h1 Sign Up!
                .column
                    input(type="text", name="name", placeholder="Name")
                .column
                    input(type="text", name="username", placeholder="Username")
                .column
                    input(type="text", name="email", placeholder="E-mail address") 
                .column
                    input(type="password", name="password", placeholder="Password") 
                .column
                    input(type="password", name="confirmPassword", placeholder="Password") 
                .column
                    input(type="hidden", name="loginType", value="signup") 
                .column
                    button.btn.btn-primary(type='submit') Sign Up
        .left-section
            img(src="/images/scrabble.jpg", alt="scrabble board")
