html, body {
  height: 100%; 
}
body {
  padding-top: 70px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-offset {
  top: 37px; 
}

.container-fluid.scrollable {
  padding-top: 30px;
  height: 100%; 
  overflow: auto; 
  background: rgb(255, 255, 255);
}

.ui.input{
  padding-left: 30px;
  padding-top: 20px;
}

.margin-right-1{
    margin-right: 5px;
}

.right-section{
  float: right;
  width: 30%;
}

.left-section{
  width: 60%;
}

a {
  padding-left: 30px;
  color: rgb(0, 255, 21);
}

table, th, td {
  border: 1px solid black;
  padding-bottom: 30px;
  zoom:90%;
}

td {
  width:35px;
  height:35px;
}

th.rack.head{
  text-align: center;
}

td.rack{
  min-width: 75px;
  text-align: center;
}

.chatwindow{
  padding-top: 30px;
  height: 325px;
  border: 1px solid black;
  overflow: scroll;
  
}

.column{
  padding-bottom: 30px;
}

.navbar{
  min-height: 10px !important;
}

.column-list-games {
    float: left;
    clear: both;
}

.select-players {
    padding-bottom: 10px;
}

table.board { 
  background: url("https://i.pinimg.com/originals/ca/8a/73/ca8a73c6203284c97dab994e20dad4cb.jpg") no-repeat; 
  background-size: 100% 100%;
}

.c {
  background: url("https://static.vecteezy.com/system/resources/previews/000/089/873/original/scrabble-tile-vector-set.jpg") -430px -40px no-repeat;
  display: inline-block;
  width: 155px;
  height: 155px;
  border-radius: 20px;
  border: 2px solid black;
  zoom: 38%;
  margin: 19px;
}

.rack-tile{
  zoom:25%;
}

button.btn{
  margin:5px;
}

nav.navbar{
  height: 50px;
}

nav h2{
  margin-top:10px;
}
